@using WebsiteSRC.Data;
@inject EmployeeDataService employeeDataService

@{

    ViewData["Title"] = "Home Page";

    var employees = await employeeDataService.GetEmployees();

    foreach (var emp in employees)
    {
        <a href="">@emp.employee_name</a>
        <img src="@emp.pictureBase64" alt="" />
    }
}




