@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

@*@section ControlsSection{
    <div class="control-section">
        <ejs-grid id="Grid" dataSource="((System.Data.DataTable)ViewBag.datasource)" allowPaging="true">
            <e-grid-columns>
                <e-grid-column field="OrderID" headerText="Order ID" textAlign="Right" width="140"></e-grid-column>
                <e-grid-column field="EmployeeID" headerText="Employee ID" textAlign="Right" width="90"></e-grid-column>
                <e-grid-column field="CustomerID" headerText="Customer ID" width="70"></e-grid-column>
                <e-grid-column field="Freight" headerText="Freight" format="C2" textAlign="Right" width="90"></e-grid-column>
                <e-grid-column field="ShipCountry" headerText="Ship Country" width="110"></e-grid-column>
                <e-grid-column field="OrderDate" headerText="Order Date" format="yMd" textAlign="Right" width="80"></e-grid-column>
            </e-grid-columns>
        </ejs-grid>
    </div>
}*@
